.html, body {
    height: 100%;
    padding-bottom: 100px;
    }
    
    .profile-image {
      width: 50px;
      height: 50px;
      object-fit: cover; /* Memastikan gambar dipotong */
      border-radius: 50%; /* Membuat gambar berbentuk lingkaran */
    }
    
    .cards-image {
    width: 80px;
    height: 80px;
    object-fit: cover; /* Memastikan gambar dipotong */
    border-radius: 50%; /* Membuat gambar berbentuk lingkaran */
    }
    
    .sidebar-text {
    font-size: 1em; /* Atur ukuran font menjadi 1em */
font-family: myfontsubtitle3;
    font-weight: 700;
    color: #fff;
    
    }
    
    .sidebar-text-gray {
    font-size: 1em; /* Atur ukuran font menjadi 1em */
    font-family: myfontsubtitle3;
    font-weight: 500;
    color: #64748B;
    
    
    }
    .sidebar-icon {
    font-size: 1.2em; /* Ikon menyesuaikan dengan ukuran font */
    color: #fff;
    }
    
    .sidebar-icon-gray {
    font-size: 1.2em; /* Ikon menyesuaikan dengan ukuran font */
    color: #9AA8BC;
    }
    

    
    .title {
    font-family: myfontsubtitle2;
    font-weight: 800;
    
    }
    
    
    
    .hideng {
    color: #2D3239;
    }
    
    .hideng-50 {
    color: #64748B;
    
    }
    
    .subtitle {
    font-family: myfontsubtitle3;
    font-weight: 400;
    
    }
    
    .bg {
    background-color: #00ADEF; /* Green */
    border: none;
    color: #fff;
    }
    
    .buled {
    background-color: #00ADEF; /* Green */
    border: none;
    color: #fff;
    border-radius: 50%;
    }
    
    .mgs  {
    margin-top: 40%;
    }
    
    /* Tambahkan CSS untuk mengatur tinggi input dan tombol */
    .input-50 {
    height: 50px;
    }
    
    .bg-button {
    background-color: #00ADEF; /* Green */
    border: none;
    color: #fff;
    }
    
   
    
    
    /* css tamu */
    
    .text-truncated {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    }
    
    .kehadiran {
    padding: 0 5px;
    border-radius: 5px;
    margin-left: 10px;
    }
    
    .hadir {
    background-color: #28a745; /* Hijau untuk "Hadir" */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    }
    
    .berhalangan {
    background-color: #dc3545; /* Merah untuk "Berhalangan" */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    
    }
    
    .default-bg {
    background-color: #9AA8BC;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    color: white;
    }
    
    .nav-item-bg {
    background-color: #00ADEF; /* Ganti dengan warna yang diinginkan */
    border-radius: 5px; /* Opsi untuk membuat sudut melengkung */
    padding: 5px; /* Spasi di sekitar teks dan ikon */
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    color: white;
    }
    
    .nav-item-bg:hover {
    background-color: #e0e0e0; /* Warna saat hover, jika diinginkan */
    }
    
    .nav-item-bg-t {
    background-color: TRANSPARENT; /* Ganti dengan warna yang diinginkan */
    border-radius: 5px; /* Opsi untuk membuat sudut melengkung */
    padding: 8px; /* Spasi di sekitar teks dan ikon */
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    }
    
    
    
    .floating-button {
    position: fixed;
    bottom: 20px;  /* Jarak dari bawah */
    right: 30px;   /* Jarak dari kiri */
    background-color: blue; /* Warna background */  width: 50px;
    height: 50px;
    border-radius: 10%;  /* Bentuk bulat */
    color: white;   /* Warna teks */
     /* Padding untuk tombol */
    font-size: 90px; /* Ukuran font */
    text-align: center;
    display: flex;  /* Menampilkan ikon dan teks secara horisontal */
    align-items: center;  /* Menyelaraskan ikon dan teks secara vertikal */
    
    z-index: 100;
    }
    
    .floating-button .icon {
    text-align: center; /* Jarak antara ikon dan teks */
    }
    
    .center-load {
    height: 100vh; /* Memenuhi seluruh tinggi viewport */
    display: flex; /* Mengaktifkan layout fleksibel */
    justify-content: center; /* Menjaga elemen tetap di tengah secara horizontal */
    align-items: center; /* Menjaga elemen tetap di tengah secara vertikal */
    }
    
